<head>
    <link rel="stylesheet" type="text/css" href="../../../static/base/styles.css" />
    <style>
        html, body {
            padding: 0px;
            margin: 0px;
        }
    </style>
    {% block scripts %}
    {% endblock scripts %}
</head>

<ul class="navbar-container">
    {% if user.is_authenticated %}
        <h1 class="supertitle">Bienvenido, {{user}}</h1>
        <div class="dropdown">
        <li class="dropbtn">Pagos</li>
            <div class="dropdown-content">
                <a class="navbar-a" href="{% url 'pagos:pagos_control' %}">Control de Pagos</a>
                <a class="navbar-a" href="{% url 'pagos:pagos_ingreso' %}">Ingreso de Pagos</a>
                <a class="navbar-a" href="{% url 'pagos:pagos_saldo' %}">Saldos</a>
            </div>
        </div>
        <div class="dropdown">
            <li class="dropbtn">Usuarios</li>
                <div class="dropdown-content">
                    <a class="navbar-a" href="{% url 'usuarios:usuarios_listado' %}">Listado</a>
                    <a class="navbar-a" href="{% url 'usuarios:createuser_view' %}">Ingreso Usuario</a>
                    <a class="navbar-a" href="{% url 'usuarios:create_curso' %}">Crear Curso</a>
                </div>
            </div>
        </div>
        <li class="navbar-item"><a class="navbar-a" href="{% url 'usuarios:logout' %}">Logout</a></li>
    {% endif %}
</ul>
{% block content%}

{% endblock content %}