{% extends 'base_datatable.html' %}

{% block content %}

<div class="container">
	<form action="" method="post" class="input-form">
		<h4 class="form-title">Asignar Curso</h4>
				{% csrf_token %}
				{{form1}}
		<div class="btn-container">
			<input class="btn btn-buscar" type="submit" value="Realizar asignacion">
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(() => {
		$("#id_fecha_llevado").datepicker({
            dateFormat: "dd/mm/yy",
			altFormat: "yy-mm-dd",
			showButtonPanel: true,
			// changeYear: true,
			showOtherMonths: true,
			selectOtherMonths: false,
			maxDate: '0',
			yearRange: String(parseInt(new Date().getFullYear()) - 1) + ':'+ String(new Date().getFullYear()),
        }).datepicker("setDate", new Date())
	})
</script>
{% endblock content %}
