{% extends 'base_datatable.html' %}

{% block content %}
{% csrf_token %}
<div style="margin-top: 20px;">
    <div style="width:90%; margin: 0 auto;">
        <div class="row justify-content-center">
            <div class="col">
                <label for="dt1">Fecha de inicio:</label>
                <input type="text" id="dt1"></input>
            </div>
            <div class="col">
                <label for="dt2">Fecha final:</label>
                <input type="text" id="dt2"></input>
            </div>
            <div class="col">
                <label for="user_code">Codigo de Usuario:</label>
                <input type="text" id="user_code">
            </div>
            <div class="col">
            	<label for="user_name">Nombre de Usuario:</label>
            	<input type="text" id="user_name">
            </div>
        </div>
        <table id="table_user" class="table table-striped table-bordered table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Correo Electronico</th>
                    <th>DPI</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Sexo</th>
                    <th>Rol</th>
                    <th>Edad</th>
                    <th>Fecha de Ingreso</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">


    // FILTRO DE RANGO DE FECHAS - SE LLAMA CADA VEZ QUE UNO DE LOS DOS DATEPICKERS CAMBIE
    minDateFilter = "";
    maxDateFilter = "";

    $.fn.dataTableExt.afnFiltering.push(
        (settings, data, dataIndex) => {
            let mydate
            if (typeof data._date == 'undefined') {

                var parts = data[9].split('/')
                mydate = new Date(parts[2], parts[1] - 1, parts[0]);
            }

            if (minDateFilter && !isNaN(minDateFilter)) {
                if (mydate < minDateFilter) {
                    return false;
                }
            }

            if (maxDateFilter && !isNaN(maxDateFilter)) {
                if (mydate > maxDateFilter) {
                    return false;
                }
            }

            return true;
        }
    )

    // FILTRO DE CODIGO DE USUARIO - SE LLAMA CADA VEZ QUE CAMBIE EL INPUT
    $.fn.dataTable.ext.search.push(
        ( settings, data, dataIndex ) => {
            const code = $('#user_code').val()
            const codeColumn = data[0]
            if ( codeColumn.includes(code) || code === '')
            {
                return true
            }
            return false
        }
    )

        // FILTRO DE CODIGO DE USUARIO - SE LLAMA CADA VEZ QUE CAMBIE EL INPUT
        $.fn.dataTable.ext.search.push(
        ( settings, data, dataIndex ) => {
            const name = $('#user_name').val()
            const nameColumn = data[1]
            if ( nameColumn.includes(name) || name === '')
            {
                return true
            }
            return false
        }
    )

    $(document).ready(() => {
        let table = $('#table_user').DataTable({
            ajax: {
                    url: '/usuarios/usuarios/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        content: 'xxx',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    dataSrc: 'data',
                },
                "sDom":"Bfrtip",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                },
                columns: [
                    { data: 'codigo' },
                    { data: 'nombres' },
                    { data: 'correo' },
                    { data: 'dpi' },
                    { data: 'telefono' },
                    { data: 'direccion' },
                    { data: 'sexo' },
                    { data: 'rol' },
                    { data: 'edad' },
                    { data: 'date_joined' },
                ],
                rowId: 'codigo',
        })
            // FORMATO DE DATEPICKER 1

        $("#dt1").datepicker({
            dateFormat: "dd/mm/yy",
            // minDate: 0,
            onSelect: function (date) {
                var dt2 = $('#dt2');
                var startDate = $(this).datepicker('getDate');
                //add 30 days to selected date
                startDate.setDate(startDate.getDate() + 30);
                var minDate = $(this).datepicker('getDate');
                var dt2Date = dt2.datepicker('getDate');
                //difference in days. 86400 seconds in day, 1000 ms in second
                var dateDiff = (dt2Date - minDate)/(86400 * 1000);

                //dt2 not set or dt1 date is greater than dt2 date
                if (dt2Date == null || dateDiff < 0) {
                        dt2.datepicker('setDate', minDate);
                }
                //dt1 date is 30 days under dt2 date
                else if (dateDiff > 30){
                        dt2.datepicker('setDate', startDate);
                }
                //sets dt2 maxDate to the last day of 30 days window
                // dt2.datepicker('option', 'maxDate', startDate);
                dt2.datepicker('option', 'minDate', minDate);

                minDateFilter = $(this).datepicker('getDate');
                table.draw();
            }
        }).keyup(function() {
            minDateFilter = $(this).datepicker('getDate');
            table.draw();
        });

        // FORMATO DE DATEPICKER 2
        
        $('#dt2').datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function(date){
                maxDateFilter = $(this).datepicker('getDate');
                table.draw();
            }
        }).keyup(function() {
            maxDateFilter = $(this).datepicker('getDate');
            table.draw();
        });


        // FUNCIONES QUE REPINTAN LA TABLA CADA VEZ QUE LOS FILTROS CAMBIAN

        $('#dt1, #dt2').change( () => {
            table.draw();
        })
        $('#user_code').keyup( () => {
            table.draw();
        })
        $('#user_name').keyup( () => {
            table.draw();
        })

    })
</script>
{% endblock content %}
