{% extends 'base_datatable.html' %}

{% block content %}
<!-- <h1>Crear Usuario</h1>
<hr> -->

<div class="container">
	<form action="" method="post" class="input-form">
		<h4 class="form-title">Crear Estudiante</h4>
				{% csrf_token %}
				{{form1}}
				{{form2}}
		<div class="btn-container">
			<input class="btn btn-buscar" type="submit" value="Crear Estudiante">
		</div>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(() => {
		$("#id_fecha_nacimiento").datepicker({
            dateFormat: "dd/mm/yy",
			altFormat: "yy-mm-dd",
			showButtonPanel: true,
			changeYear: true,
			showOtherMonths: true,
			selectOtherMonths: false,
			yearRange: String(parseInt(new Date().getFullYear()) - 100) + ':'+ String(new Date().getFullYear()),
        	maxDate: '0',
        })
	})
</script>
{% endblock content %}
