<head>
    <link rel="stylesheet" type="text/css" href="../../../static/general/styles.css" /> 
</head>

{% extends 'base.html' %}

{% block content %}



<div class="container">
	<img src="../../static/img/plusacademy/imagotipo.jpg" style="width:500px;margin: 0 auto">
	<form action="" method="post">
		<h4 class="form-title">Iniciar Sesión</h4>
				{% csrf_token %}
				{{form}}
		<div class="btn-container">
			<input class="btn btn-buscar" type="submit" value="Login">
		</div>
	</form>
</div>
{% endblock content %}