.supertitle { color: #fff; background-color: #333; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 35px; text-align: center; text-transform: uppercase; }

.logo{
  width: 250px;
}

.navbar-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(198, 212, 32);
  margin-bottom: 50px;
}


.item-title{
  color: black;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: inline;
  transition: all 0.3s ease-in-out;
}
.item-title:hover {color:rgb(83, 189, 212);}

.navbar-a:hover{
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in-out;
}


.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  color:rgb(83, 189, 212);
  text-decoration: none;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.page-item.active .page-link {
  background-color: rgb(83, 189, 212) !important;
}
.page-item.active .page-link:hover {
  background-color: rgb(50, 159, 184) !important;
}
.page-item.active .page-link:focus {
  outline-color:transparent !important;
}

.username {
  position: absolute;
  bottom:0;
  right:0;
  margin-right:25px;
  margin-bottom: 25px;
  font-size: 20px;
  color:rgb(122, 122, 122);
  border-bottom: 1px solid rgb(198, 212, 32);
  padding: 0 5px 5px 5px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  opacity: 0.5; /*prevents username from obstructing data and UI elements shown on screen*/

}

/* .dropdown:hover .dropbtn {
  background-color: darkgray;
} */
.dtrg-group.dtrg-start.dtrg-level-0 td{
    background-color: rgb(83, 189, 212);
    color: white;
}
tr.dtrg-group.dtrg-start.dtrg-level-1 td {
    padding-left: 1.5em;
}
tr.odd td:first-child,
tr.even td:first-child {
    padding-left: 4em;
}
td.sub, tr.subCabecera td {
    padding-left: 1.5em;
}
/* Style buttons */
.btn-solicitar-eliminacion {
  background-color: rgb(83, 189, 212);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */  
  transition: all 0.3s ease-in-out;
}

  /* Darker background on mouse-over */
.btn-solicitar-eliminacion:hover {
  background-color: rgb(50, 159, 184);
}
.modal-confirm {		
    color: #29457f;
    width: 525px;
}
.modal-confirm .modal-content {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-header {
    background: #47c9a2;
    border-bottom: none;   
    position: relative;
    text-align: center;
    margin: -20px -20px 0;
    border-radius: 5px 5px 0 0;
    padding: 35px;
}
.modal-confirm .modal-header2 {
  background: rgb(214, 0, 0);
  border-bottom: none;   
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 36px;
    margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    text-shadow: none;
    opacity: 0.5;
}
.modal-confirm .close:hover {
    opacity: 0.8;
}
.modal-confirm .icon-box {
    color: #fff;		
    width: 95px;
    height: 95px;
    display: inline-block;
    border-radius: 50%;
    z-index: 9;
    border: 5px solid #fff;
    padding: 15px;
    text-align: center;
}
.modal-confirm .icon-box i {
    font-size: 64px;
    margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
    color: #fff;
    border-radius: 4px;
    background: #eeb711 !important;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border-radius: 30px;
    margin-top: 10px;
    padding: 6px 20px;
    border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #eda645 !important;
    outline: none;
}
.modal-confirm .btn span {
    margin: 1px 3px 0;
    float: left;
}
.modal-confirm .btn i {
    margin-left: 1px;
    font-size: 20px;
    float: right;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.dt-buttons {
  padding-top: 20px;
}

.dt-button {
  background-color: rgb(83, 189, 212);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */ 
  transition: all 0.3s ease-in-out;

}

.dt-button:hover {
  background-color: rgb(50, 159, 184);
}

#btn1 {
  background-color: rgb(255, 56, 56); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-left: 10px;
  }
  #btn2 {
  background-color: rgb(0, 228, 19); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 8px 10px; /* Some padding */
  font-size: 14px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  margin-left: 10px;
  }
  #btn1:hover {
      background-color: rgb(214, 0, 0);
  }
  #btn2:hover {
      background-color: rgb(0, 180, 15);
  }