h1 { color: #000; font-size: 24px; font-weight: 800; line-height: 40px; text-transform: uppercase; }


* {
  font-family: 'Greycliff cf Heavy', sans-serif;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #000;
    margin: 1em 0; padding: 0; }

ul {
  list-style-type: none;
}

.cancion-item {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: #000; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.container {
  margin-top: 15px;
  width:20%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid black;
  flex-direction: column;
}

.form-title {
  text-align: center;
  font-size: 20px;
  margin:15px 0;
}

input[type=text], input[type=email], input[type=number], input[type=password], select {
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, select:focus {
  outline: none;
  border-width: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.helptext {
  display: none;
}

.btn-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
}

input[type=submit] {
  background-color: black;
  color: white;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  /* background-color: #53BDD4; */
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.acciones_tabla {
  display: flex;
  justify-content: space-evenly;
}

.filters-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filters-container input {
  height: 30px;
}

.filters-container .filter-element {
  display: flex;
  gap: 30px;
  align-items: center;
}

