<head>
    <link rel="stylesheet" type="text/css" href="../../../static/general/styles.css" />
</head>

{% extends 'base.html' %}

{% block content %}
{% csrf_token %}
<table>
    <tr>
        <th>Codigo de Estudiante</th>
        <th>Fecha Pago</th>
        <th>Codigo De Curso</th>
        <th>Tipo de pago</th>
        <th>Monto</th>
        <th>Tipo de Moneda</th>
        <th>Acciones</th>
    </tr>
    {% for pago in pagos %}
    <tr>
        <th>{{pago.user.username}}</th>
        <th>{{pago.fecha_pago}}</th>
        <th>{{pago.codigo_curso.codigo}}</th>
        <th>{{pago.tipo_pago.nombre}}</th>
        <th>{{pago.cantidad}}</th>
        <th>{{pago.moneda.nombre}}</th>
        <th><button>Eliminar</button><button>Editar</button></th>
    </tr>  
    {% endfor%}
</table>
{% endblock content %}
