{% extends 'base_datatable.html' %}

{% block content %}

<div class="container">
	<form action="" method="post" class="input-form">
		<h4 class="form-title">Ingresar Gasto</h4>
				{% csrf_token %}
				{{form}}
		<div class="btn-container">
			<input class="btn btn-buscar" type="submit" value="Crear">
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(() => {
		$("#id_fecha_gasto").datepicker({
            dateFormat: "dd/mm/yy",
			altFormat: "yy-mm-dd",
			showButtonPanel: true,
			changeYear: true,
			showOtherMonths: true,
			selectOtherMonths: false,
			yearRange: String(parseInt(new Date().getFullYear()) - 100) + ':'+ String(new Date().getFullYear()),
        	maxDate: '0',
        })
	})
</script>
{% endblock content %}