{% extends 'base_datatable.html' %}

{% block content %}
{% csrf_token %}
<div style="margin-top: 20px;">
    <!-- <a href="http://127.0.0.1:8000/pagos/pagos_excel.xls" download>Descargar</a> -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <label for="dt1">Fecha de inicio:</label>
                <input type="text" id="dt1"></input>
            </div>
            <div  class="col">
                <label for="dt2">Fecha final:</label>
                <input type="text" id="dt2"></input>
            </div>
            <div  class="col">
                <label for="user_code">Codigo de Usuario:</label>
                <input type="text" id="user_code">
            </div>
        </div>
        <table id="data_table" class="table table-striped table-bordered table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th>Descripcion de Estudiante</th>
                    <th>Tipo de pago</th>
                    <th>Codigo de Estudiante</th>
                    <th>Codigo de Curso</th>
                    <th>Descripcion de pago</th>
                    <th>Fecha Pago</th>
                    <th>Monto (Q)</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script type="text/javascript">

    // FILTRO DE RANGO DE FECHAS - SE LLAMA CADA VEZ QUE UNO DE LOS DOS DATEPICKERS CAMBIE
    minDateFilter = "";
    maxDateFilter = "";

    $.fn.dataTableExt.afnFiltering.push(
        (settings, data, dataIndex) => {
            let mydate
            if (typeof data._date == 'undefined') {

                var parts = data[5].split('/')
                mydate = new Date(parts[2], parts[1] - 1, parts[0]);
            }

            if (minDateFilter && !isNaN(minDateFilter)) {
                if (mydate < minDateFilter) {
                    return false;
                }
            }

            if (maxDateFilter && !isNaN(maxDateFilter)) {
                if (mydate > maxDateFilter) {
                    return false;
                }
            }

            return true;
        }
    )


    // FILTRO DE CODIGO DE USUARIO - SE LLAMA CADA VEZ QUE CAMBIE EL INPUT
    $.fn.dataTable.ext.search.push(
        ( settings, data, dataIndex ) => {
            const code = $('#user_code').val()
            const codeColumn = data[2]
            if ( codeColumn.includes(code) || code === '')
            {
                return true
            }
            return false
        }
    )


    $(document).ready(() => {
        let formatOptions = {style: 'decimal', minimumFractionDigits: 2, minimumFractionDigits: 2};
        let numberFormat = new Intl.NumberFormat('en-US', formatOptions);
        let table = $('#data_table').DataTable({
            ajax: {
                    url: '/pagos/saldos/',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        content: 'xxx',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'listaSaldos',
                    },
                    dataSrc: 'data'
                },
                "sDom":"Bfrtip",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                scrollY: '70vh',
                scrollCollapse: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                },
                orderCellsTop: true,
                fixedHeader: true,
                columns: [
                    { data: 'desc_est' },
                    { data: 'tipo_pago' },
                    { data: 'codigo' },
                    { data: 'curso' },
                    { data: 'desc_pag' },
                    { data: 'fecha_pago' },
                    { data: 'cantidad' }
                ],
                order: [[2, 'asc'], [1, 'asc']],
                rowGroup: {
                    dataSrc: [ 'desc_est', 'tipo_pago' ],
                    endRender: ( rows, group, index ) => {
                        let totalPago = rows
                        .data()
                        .pluck('cantidad')
                        .reduce((a, b) => {
                            return a + b*1
                        }, 0)
                        /* Diferencia de saldo y pagado*/
                        let totalPorVencer = rows
                        .data()
                        .reduce((a, b) => {
                            return a + ((b.tipo_pago === 'Por Vencer') ? b.cantidad : 0)
                        }, 0)
                        let totalPagado = rows
                        .data()
                        .reduce((a, b) => {
                            return a + ((b.tipo_pago === 'Pagado') ? b.cantidad : 0)
                        }, 0)
                        let totalVencido = rows
                        .data()
                        .reduce((a, b) => {
                            return a + ((b.tipo_pago === 'Vencido (Pagar lo antes posible)') ? b.cantidad : 0)
                        }, 0)
                        let totalSaldo = totalPorVencer + totalVencido + totalPagado
                        let diferenecia = Math.abs(totalSaldo-totalPagado)
                        //let moneda = rows.data()[0].moneda
                        return $('<tr/>')
                        .append( `${index%2===0 ?  '<td colspan="2" class="tot" style="background-color: rgb(116, 186, 255);"> Saldo Total: ' + numberFormat.format(totalSaldo) + '</td><td colspan="1" class="tot" style="background-color: rgb(116, 186, 255);">Total Pagado: '+ numberFormat.format(totalPagado) + '</td>' + '<td colspan="1" class="tot" style="background-color: rgb(116, 186, 255);">Diferencia Total: '+ numberFormat.format(diferenecia) + '</td>' : '<td colspan="3" class="sub" style="padding-left: 1.5em; background-color: rgb(106, 168, 230);"> SubTotal: </td> <td style="background-color: rgb(106, 168, 230);">' + numberFormat.format(totalPago) + '</td>'}` )
                        //.append( `<td colspan="2" class=${index%2===0 ? "tot" : "sub"}>${index%2===0 ?  'Saldo Total:' /*+ totalSaldo*/ : 'Saldo SubTotal:'}</td>` )
                        //.append( `<td>${totalPago}</td>` )


                    },
                },
                columnDefs: [ 
                    { targets: [0, 1, 2], visible: false },
                    {
                        targets: 6,
                        render: $.fn.dataTable.render.number(',', '.', 2, '')
                    },
                ]
        })


        // FORMATO DE DATEPICKER 1

        $("#dt1").datepicker({
            dateFormat: "dd/mm/yy",
            // minDate: 0,
            onSelect: function (date) {
                var dt2 = $('#dt2');
                var startDate = $(this).datepicker('getDate');
                //add 30 days to selected date
                startDate.setDate(startDate.getDate() + 30);
                var minDate = $(this).datepicker('getDate');
                var dt2Date = dt2.datepicker('getDate');
                //difference in days. 86400 seconds in day, 1000 ms in second
                var dateDiff = (dt2Date - minDate)/(86400 * 1000);

                //dt2 not set or dt1 date is greater than dt2 date
                if (dt2Date == null || dateDiff < 0) {
                        dt2.datepicker('setDate', minDate);
                }
                //dt1 date is 30 days under dt2 date
                else if (dateDiff > 30){
                        dt2.datepicker('setDate', startDate);
                }
                //sets dt2 maxDate to the last day of 30 days window
                // dt2.datepicker('option', 'maxDate', startDate);
                dt2.datepicker('option', 'minDate', minDate);

                minDateFilter = $(this).datepicker('getDate');
                table.draw();
            }
        }).keyup(function() {
            minDateFilter = $(this).datepicker('getDate');
            table.draw();
        });

        // FORMATO DE DATEPICKER 2
        
        $('#dt2').datepicker({
            dateFormat: "dd/mm/yy",
            onSelect: function(date){
                maxDateFilter = $(this).datepicker('getDate');
                table.draw();
            }
        }).keyup(function() {
            maxDateFilter = $(this).datepicker('getDate');
            table.draw();
        });


        // FUNCIONES QUE REPINTAN LA TABLA CADA VEZ QUE LOS FILTROS CAMBIAN

        $('#dt1, #dt2').change( () => {
            table.draw();
        })
        $('#user_code').keyup( () => {
            table.draw();
        })


    })
</script>
{% endblock content %}
